<td>

<p id="notice"><%= notice %></p>


</td>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>city</th>
      <th>Zip</th>
      <th>School Name</th>
      <th>Total practice</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td> <%= user.name %> </td> 
        <td> <%= user.email %> </td>
        <td> <%= user.address %> </td>
        <td> <%= user.city %> </td>
        <td> <%= user.zip %> </td>
        <td> <%= user.school %> </td>
        <td> <%= user.practice %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add new user", new_user_list_path %>